REPLYCANT_DATA_DIR=/var/lib/replycant/data
REPLYCANT_LFS_DIR=/var/lib/replycant/lfs
REPLYCANT_GIT_PORT=8443
REPLYCANT_CA_PORT=8080
# Defaults to <hostname>.local when unset
# REPLYCANT_HOSTNAME=my-server.local
